<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
</head>

<body>
    <h3>Gracias por su compra!</h3>
    <p>Hemos realizado un cargo a su Tarjeta de Crédito por $ {{ total_charge }}</p>
    <p>Compraste {{ total_productos }} producto(s) hasta ahora, llevas gastado {{ gastado_en_total }} en Amadon.com!</p>
    <p><a href="/">Volver</a></p>
</body>

</html>